*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/build/LevelUp-Soul.FireForestSouls-saving
/composeApp/src/androidMain/keystore.jks
/composeApp/src/androidMain/key.txt
/composeApp/LevelUp-Soul.FireForestSouls-saving
/composeApp/src/androidMain/keystore.json
/composeApp/src/androidMain/keystore.properties
